.forecast-summaries {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}

.forecast-summary__icon {
  font-size: 65px;
  margin: 10px 0;
  text-align: center;
  background-image: linear-gradient(to right bottom, #9dadbc, #b2bfca, #c8d0d9, #dee3e7, #f4f5f6);
  border: 2px solid #000000;
  width: 90px;
  padding: 15px 15px;
  border-radius: 4px;
}

.details-button {
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 0px;
  outline: none;
}
